<!--

Author:
Date: 

-->
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Other Meta Tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../stylesheets/submit.css">
  <link rel="stylesheet" type="text/css" href="../../stylesheets/community.css">
  <title>Hardware Talk - Submit Post</title>
</head>
<body>

<!-- Header -->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{@BASE}}">
      <img src="../../images/logo.png"
           width="30"
           height="30"
           class="d-inline-block align-top"
           alt="hardware talk logo">
      <strong>Hardware Talk</strong>
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <check if="{{@SESSION.loggedin==true}}">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="16"
                   height="16"
                   fill="currentColor"
                   class="bi bi-person-fill"
                   viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
              {{@SESSION.username}}
            </a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="#">
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="16"
                   height="16"
                   fill="gray"
                   class="bi bi-box-arrow-in-right"
                   viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg>
              Logout
            </a>
          </li>
        </check>
        <check if="{{@SESSION.loggedin==false}}">
          <li class="nav-item">
            <a class="nav-link" href="../../login">
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="16"
                   height="16"
                   fill="currentColor"
                   class="bi bi-person-fill"
                   viewBox="0 0 16 16"
              >
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
              Login
            </a>
          </li>
        </check>
      </ul>
    </div>
  </nav>
</header>

<!-- Banner with community name -->
<div class="container">
  <img class="card-img-top gradient"
       alt="Card image cap"
       src="../../images/communities/img_{{@PARAMS.communityID}}.png">
  <div class="centered disable-select">
    <p>
      <a href=""
         class="community-text">
        Submit
      </a>
    </p>
  </div>
</div>

<!-- Form for submitting a post -->
<div class="container m-auto pt-5" id="submitPost">
  <div class="row ml-auto">
    <div class="col">
      <form action="#" method="POST">
        <div class="form-group">
          <label for="postSubject">Post Subject</label><br>
          <textarea id="postSubject" name="postSubject" maxlength="150"></textarea>
        </div>
        <div class="form-group">
          <label for="postText">Post Text</label><br>
          <textarea id="postText" name="postText" maxlength="20000"></textarea>
        </div>
        <div class="form-group">
          <label for="postMedia">Post Media</label>
          <em class="text-muted">(optional)</em><br>
          <input id="postMedia" name="postMedia" type="text" placeholder="Imgur Link">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Optional JavaScript -->
</body>
</html>